<% if @table_data.nil? || @table_data.empty? %>

  <%= erb(:'partials/no_data_message') %>

<% else %>

  <table>
    <thead>

      <tr class="header-row">
        <% @data[:table_headers].each_with_index do |table_header, index| %>
          <% class_att = "" %>
          <% class_att = 'th-first' if index == 0 %>
          <th class="<%= class_att %>"><%= table_header %></th>
        <% end %>
      </tr>

    </thead>

    <tbody>

      <% column_names = @table_data.first.keys %>
      <% @table_data.each do |data_row| %>
        <tr>
          <% column_names.each do |column_name| %>
            <td><%= data_row[column_name] %></td>
          <% end %>
        </tr>
      <% end %>

    </tbody>

  </table>

<% end %>
