<h1>New <%= @data[:record_title] %></h1>

<hr>

<% columns_data = @data[:columns_data] %>

<% columns_data.each do |column_data| %>
  <% @column_data = column_data %>
  <% case column_data['data_type']
       when :string %>
       <%= erb(:'partials/inputs/text') %>
   <% end %>

<% end %>

<hr>

<a class="button" href="/<%= @path_root %>">Cancel</a>
