*, table, thead, th, tr, td, tfoot {
  color: dodgerblue;
  border: 1.5px solid dodgerblue;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: monospace;
  font-size: 20px;
  padding: 10px;
}

h1 {
  font-family: monospace;
  font-size: 4em;
}

hr {
  margin: 10px;
}

b {
  font-weight: bold;
}

.no-data-message {
  color: lightgrey;
  font-style: italic;
}

.table-cell-link {
  text-decoration: none;
  cursor: cell;
}
