*, table, thead, th, tr, td, tfoot {
  color: dodgerblue;
  border: 1.5px solid dodgerblue;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: monospace;
  font-size: 20px;
  padding: 10px;
}

h1 {
  font-family: monospace;
  font-size: 4em;
}

hr {
  margin: 10px;
}

b {
  font-weight: bold;
}

.no-data-message {
  color: lightgrey;
  font-style: italic;
}

a.button, input.button {
  background-color: white;
  border: 3px solid dodgerblue;
  border-radius: 7px;
  display: inline-block;
  font-size: 1.5em;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

a.button:hover, input.button:hover {
  background-color: lightblue;
}

input, label {
  display: inline-block;
  margin: 5px;
}

label {
  margin-left: 10px;
}
