td, th {
  padding: 5px;
}

table, thead {
  border-width: 3px;
}

table {
  margin: 25px;
}

tr:hover {
  background-color: lightblue;
}

th {
  color: white;
}

th:not(.th-first) {
  border-left: 2px solid white;
}

th, td {
  cursor: cell;
}

.header-row, .header-row:hover {
  background-color: dodgerblue;
}

.table-cell-link {
  text-decoration: none;
  cursor: cell;
}
