<form class="delete-button-form" action="<%= @delete_form_action %>" method="post">
  <input class="button delete-button" type="submit" value="Delete" />
  <input type="hidden" name="_method" value="delete" />
</form>
